body{
  background-color: #f8f9fd;
}

h3 {
  margin-top: 10%;
  text-align: center;
  width:100%;
  overflow:hidden;
  color: #77a3d5;
}

.container div{
  margin-top: 2%;
}

.container{
  margin-bottom:  2%;
}

